<section class="order">
  <h1>Информация о заказе</h1>
  <form class="order__form" (ngSubmit)="orderService.Submit()">
    <mat-form-field class="order__form_field">
      <mat-label>Вид десерта</mat-label>
      <mat-select
        [(ngModel)]="orderService.orderForm.type"
        (selectionChange)="orderService.changeTypeProduct($event)"
        name="type"
      >
        <mat-option
          *ngFor="let desert of orderService.products"
          [value]="desert.title"
          >{{ desert.title }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field class="order__form_field">
      <mat-label>Начинка</mat-label>
      <mat-select
        [(ngModel)]="orderService.orderForm.filling"
        name="filling"
        (selectionChange)="orderService.changeFilling()"
      >
        <mat-option
          *ngFor="let filling of orderService.selectProduct.filling"
          [value]="filling.name"
          >{{ filling.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field class="order__form_field">
      <mat-label>Декор</mat-label>
      <mat-select
        [(ngModel)]="orderService.orderForm.decor"
        name="decor"
        (selectionChange)="orderService.changeDecor($event)"
      >
        <mat-option
          *ngFor="let decor of orderService.selectProduct.decor"
          [value]="decor.description"
          >{{ decor.description }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field class="order__form_field" (click)="picker.open()">
      <mat-label>Дата</mat-label>
      <input
        matInput
        [min]="orderService.minOrderDate"
        [max]="orderService.maxOrderDate"
        [matDatepickerFilter]="orderService.myFilter"
        [matDatepicker]="picker"
        [(ngModel)]="orderService.orderForm.date"
        name="date"
        (dateInput)="orderService.changeDate($event)"
        readonly
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker
        [startAt]="orderService.minOrderDate"
        #picker
        touchUi="true"
      ></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="order__form_field">
      <mat-label>Время</mat-label>
      <mat-select [(ngModel)]="orderService.orderForm.time" name="time">
        <mat-option
          *ngFor="let time of orderService.availableTimes"
          [value]="time.time"
          >{{ time.time }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field class="order__form_field">
      <mat-label>Имя</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="orderService.orderForm.name"
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>

    <mat-form-field class="order__form_field">
      <mat-label>Способ связи</mat-label>
      <mat-select
        [(ngModel)]="orderService.orderForm.communicationMethod"
        name="communicationMethod"
        (selectionChange)="selectCommunicationType($event)"
      >
        <mat-option
          *ngFor="let name of orderService.communicationMethod"
          [value]="name"
          >{{ name }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field
      *ngIf="communicationType.title"
      [floatLabel]="'always'"
      class="order__form_field"
    >
      <mat-label>{{ communicationType.title }}</mat-label>
      <input
        matInput
        [(ngModel)]="orderService.orderForm.communicationData"
        [ngModelOptions]="{ standalone: true }"
        type="text"
      />
      <span matTextPrefix>{{ communicationType.prefix }}</span>
    </mat-form-field>

    <mat-form-field class="order__form_field">
      <mat-label>Примечание</mat-label>
      <textarea
        [(ngModel)]="orderService.orderForm.notes"
        [ngModelOptions]="{ standalone: true }"
        class="notes"
        matInput
        placeholder="Опишите здесь ваш декор или любые другие пожелания"
      ></textarea>
    </mat-form-field>

    <mat-form-field class="order__form_field">
      <input matInput [value]="'Добавить фотографии'" readonly />
      <input
        type="file"
        id="fileInput"
        name="fileInput"
        accept="image/*"
        multiple
        (change)="selectFiles($event)"
      />
    </mat-form-field>

    <div class="preview">
      <div *ngFor="let preview of previews" class="preview__container">
        <img [src]="preview.file" class="preview__container_img" />
        <img
          class="preview__container_closer"
          src="../../assets/icon/closer.svg"
          (click)="removePhoto(preview.id)"
        />
      </div>
    </div>

    <mat-card-actions class="order__button">
      <button mat-raised-button type="submit" class="">Заказать</button>
    </mat-card-actions>
  </form>
</section>
