<section>
  <form class="order" (ngSubmit)="Submit()">
    <mat-form-field>
      <mat-label>Вид десерта</mat-label>
      <mat-select
        [(ngModel)]="orderService.orderForm.type"
        (selectionChange)="orderService.changeTypeProduct($event)"
        name="type"
      >
        <mat-option
          *ngFor="let desert of orderService.products"
          [value]="desert.id"
          >{{ desert.title }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Начинка</mat-label>
      <mat-select
        [(ngModel)]="orderService.orderForm.filling"
        name="filling"
        (selectionChange)="orderService.changeFilling()"
      >
        <mat-option
          *ngFor="let filling of orderService.selectProduct.filling"
          [value]="filling.name"
          >{{ filling.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Декор</mat-label>
      <mat-select
        [(ngModel)]="orderService.orderForm.decor"
        name="decor"
        (selectionChange)="orderService.changeDecor($event)"
      >
        <mat-option
          *ngFor="let decor of orderService.selectProduct.decor"
          [value]="decor.time"
          >{{ decor.description }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Дата</mat-label>
      <input
        disabled
        matInput
        [min]="orderService.minOrderDate"
        [max]="orderService.maxOrderDate"
        [matDatepickerFilter]="orderService.myFilter"
        [matDatepicker]="picker"
        [(ngModel)]="orderService.orderForm.date"
        name="name"
        (dateInput)="orderService.changeDate($event)"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker
        [startAt]="orderService.minOrderDate"
        #picker
        disabled="false"
      ></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Время</mat-label>
      <mat-select [(ngModel)]="orderService.orderForm.time" name="time">
        <mat-option
          *ngFor="let time of orderService.availableTimes"
          [value]="time.time"
          >{{ time.time }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field [(ngModel)]="orderService.orderForm.name" name="name">
      <mat-label>Имя</mat-label>
      <input matInput type="text" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Способ связи</mat-label>
      <mat-select
        [(ngModel)]="orderService.orderForm.communicationMethod"
        name="cm"
        (selectionChange)="selectCommunicationType($event)"
      >
        <mat-option
          *ngFor="let name of orderService.communicationMethod"
          [value]="name"
          >{{ name }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field
      *ngIf="communicationType.title"
      [(ngModel)]="orderService.orderForm.communicationData"
      name="communicationData"
      [floatLabel]="'always'"
    >
      <mat-label>{{ communicationType.title }}</mat-label>
      <input matInput name="communicationData" type="text" />
      <span matTextPrefix>{{ communicationType.prefix }}</span>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Примечание</mat-label>
      <textarea
        class="notes"
        matInput
        placeholder="Опишите здесь ваш декор или любые другие пожелания"
      ></textarea>
    </mat-form-field>

    <mat-form-field>
      <div>
        <mat-toolbar>
          <input matInput [value]="'Выберете фото'" />
          <input
            type="file"
            id="fileInput"
            name="fileInput"
            accept="image/*"
            multiple
            (change)="selectFiles($event)"
          />
        </mat-toolbar>
      </div>
    </mat-form-field>

    <div class="preview">
      <div *ngFor="let preview of previews" class="preview__container">
        <img [src]="preview.file" class="preview__container_img" />
        <img
          class="preview__container_closer"
          src="../../assets/icon/closer.svg"
          (click)="removePhoto(preview.id)"
        />
      </div>
    </div>

    <mat-card-actions>
      <button mat-raised-button type="submit">Заказать</button>
    </mat-card-actions>
  </form>
</section>
