.order {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_field {
      width: 80vw;
    }
  }

  &__button {
    margin-bottom: 5vh;
  }
}

.notes {
  min-height: 300px;
}

.progress {
  width: 50px;
}

.mat-input-element {
  font-size: medium;
  font-weight: 200;
}

#fileInput {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  height: 100%;
  left: 0px;
  top: 0px;
}

.mat-toolbar-single-row {
  height: auto;
  background: transparent;
  padding: 0;
}

.preview {
  display: flex;
  flex-wrap: wrap;

  &__container {
    position: relative;

    &_img {
      max-width: 200px;
      vertical-align: middle;
      margin: 10px;
    }

    &_closer {
      width: 25px;
      height: 25px;
      position: absolute;
      top: 0px;
      right: -7px;
    }
  }
}
