<form>
  <mat-form-field>
    <mat-label>Input</mat-label>
    <input matInput />
  </mat-form-field>
  <label for="fname">Имя</label><br />
  <input type="text" id="fname" /><br />
  <label for="date">Дата заказа</label><br />
  <input type="date" id="date" /><br />
  <label for="time">Время</label><br />
  <input type="time" id="time" /><br />
  <p>Выберете удобный для вас способ связи</p>
  <label for="phone">Телефон</label><br />
  <input type="text" id="phone" /><br />
  <label for="phone">Примечание к заказу</label><br />
  <input
    type="text"
    id="phone"
    placeholder="Здесь напишите описание торта и ваши пожелания"
  /><br />
</form>
