@import "~normalize.css";
@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
