<section class="info">
  <section class="info__wrapper">
    <img class="info-img" src="/assets/img/photoMaster.jpg" />
    <div class="info__container">
      <h3 title="hello" class="info-title">Домашняя кондитерская</h3>
      <div class="info__buttons">
        <button class="info__buttons-order">Сделать заказ</button>
        <button class="info__buttons-menu">Меню</button>
      </div>
    </div>
  </section>
  <section class="info__view">
    <div class="info__view__item">
      <span>3 года на рынке</span>
      <img class="info__view__item-img" src="../assets/icon/clock.svg" />
    </div>
    <div class="info__view__item">
      <span>Более 500 довольных клиентов</span>
      <img class="info__view__item-img" src="../assets/icon/people.svg" />
    </div>
    <div class="info__view__item">
      <span>1000+ заказов</span>
      <img class="info__view__item-img" src="../assets/icon/cake.svg" />
    </div>
  </section>
</section>
